:root {
    --colour-main: #e8f0f3;
    --colour-second: #025169;
    --colour-buttons: #238cbf;
    --colour-accent: #f07167;
    --colour-text: #1d3557;
  }

* {
    color:var(--colour-text);
    box-sizing: border-box;
    font-family: serif;
  }

body {
    overflow: hidden; /* Hide scrollbars */
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--colour-main);
}

.tabs {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--colour-buttons);
    color: var(--colour-main);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    height: 4rem;
    box-shadow: 0px 4px 5px #888888;
    z-index: -2;
}

.logo {
    position: fixed;
    left: 2rem;
    top: 1rem;
    font-size: 2rem;
    color: var(--colour-main);
    text-decoration: underline;
    text-decoration-color: --var(--colour-accent);
}

.tab {
    font-family: sans-serif;
    font-size: 0.9rem;
    width: 9rem;
    color:white;
    border: 1px solid white;
    height: 2rem;
    padding: .25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tab-selected{
    background-color: white;
    color:var(--colour-text);
    cursor:default;
}

.tab:hover{
    background-color: white;
    color:var(--colour-text);
}

.main {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 4rem;
    width: 700px;
    height: 500px;
    margin: auto;
    padding: 2rem;
    padding-top: 0em;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 4px 5px #888888;
    /* animation: fadeInAnimation ease-in-out 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        margin-top: 6rem;
    }
    100% {
        opacity: 1;
        margin-top: 1rem;
     }
}

.form{
    width: 300px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: .25rem;
}

.form-right {
    width: 150px;
    border-radius: 1px;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--colour-accent);
}

h2 {
    font-size: 1.2rem;
}

p {
    text-align: center;
}

.calc-label {
    font-weight: bold;
}

.button-box {
    display: flex;
    align-content: center;
    justify-content: left;
    flex-wrap: wrap;
    width: 100%;

}

.btn {
    font-family: sans-serif;
    font-size: 0.9rem;
    color:var(--colour-text);
    width: 9rem;
    height: 2rem;
    padding: .25rem;
    margin-right: .25rem;
    margin-bottom: .25rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 2px 3px #888888;
    transition: all .1s ease-in-out;
    border: 1px solid;
} 

.btn:hover {
    background-color: white !important;
}

.btn-selected {
    background-color: white !important;
}


.result {
text-align: center;
font-size: 1.5rem;
display: flex;
flex-direction: row;
justify-content: center;
} 

.result-number {
    margin-right: .25em;
    color: var(--colour-accent);
}

footer {
    background-color: var(--colour-second);;
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    font-size: 0.75rem;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 3px inset rgba(0, 0, 0, 0.781);
    
}

.test {
    height: 200px;
    background-color: var(--colour-accent);
    width: 200px;
}

a:link, a:visited,  a:hover, a:active
{
    color: white;
    text-decoration: none;
}
