* {
    color:#1d3557;
    box-sizing: border-box;
    font-family: serif;
  }

body {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #e3f2fd;
}

.main {
    width: 700px;
    height: 550px;
    margin: auto;
    padding: 2rem;
    padding-top: 0em;
    background-color: #ffffffc7;
    border-radius: 5px;
    box-shadow: 0px 4px 5px #888888;
    /* animation: fadeInAnimation ease-in-out 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        margin-top: 6rem;
    }
    100% {
        opacity: 1;
        margin-top: 1rem;
     }
}

.form{
    width: 300px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: .25rem;
}

.form-right {
    width: 150px;
}

h1 {
    font-size: 1.5rem;
    text-align: center;

}

h2 {
    font-size: 1.2rem;
}

p {
    text-align: center;
}

.calc-label {
    font-weight: bold;
}

.button-box {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

}

.btn {
    font-size: 1rem;
    width: 9rem;
    padding: .25rem;
    margin-right: .25rem;
    margin-bottom: .25rem;
    cursor: pointer;
}

.result {
text-align: center;
font-size: 1.5rem;
color: #ee6c4d;
}